#fotterh2{
    margin-left: 10px;
}
.footera{
    margin-left: 10px;
    
    text-decoration-line: none;
    text-align: center;
   
    
}
#fottersec{
    padding-bottom: 10px;
    background-color: rgb(183, 193, 235);
}
